html{
	background-color: lightblue;
	font-family: sans-serif;
	margin-top: -8px;
	padding:  0px 50px 100px 50px;
}
footer{
	text-align: center;
}
 
.content-list{
	display: block;
}
#nav, h2 , li{
	text-align: center;
}
#wrap{
	background-color: darkblue;
	padding: 20px 20px 20px 20px;
}
#nav{
	background-color: skyblue;
	float: left;
	height: 200px;
	margin-top: -19px;
	width: 20%;
	height: 511px;

}
#content{
	margin-top: -41px;
	padding: 0px 50px 100px 50px;
	background-color: blue;
	text-align: center;
	width: 800px;
	padding-left: 25%;

}